<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
      <script src="/static/bootstrap-4.3.1-dist/js/jquery.min.js"></script>
      <script src="/static/bootstrap-4.3.1-dist/js/popper.min.js"></script>
      <script src="/static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
      
      <title>Atomic</title>
  </head>
<body>
<p>Produtos</p>
  <a href="/Produto/Create" class="btn btn-success">Criar produto</a>

  <div class="container">
  <div class="card-columns">
    {{range .}}
    <div class="card">
      <div class="text-center">
        <img class="card-img-top" src="static/img/windows10logo.jpg" alt=img_{{.Nome}} style="width:100%">
        <div class="card-body">
          <h4 class="card-title">{{.Nome}}</h4>
          <p class="card-text">R$ {{.Preco}}</p>
          <p class="card-text">{{.Descricao}}</p>
          <a href="#" class="btn btn-primary stretched-link">Update</a>
          <a href="#" class="btn btn-danger stretched-link">Delete</a>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</div>

    

</body>
</html>