<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="templates/build/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
      <script src="templates/build/bootstrap-4.3.1-dist/js/jquery.min.js"></script>
      <script src="templates/build/bootstrap-4.3.1-dist/js/popper.min.js"></script>
      <script src="templates/build/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
      <title>Atomic</title>
  </head>
<body>

  <form action="/Produto/Criar/Processo" method="POST">
    <label for="nome">Nome</label>
    <input type="text" name="nome_produto" id="nome" placeholder="Nome do produto"><br/>
    <label for="preco">Preço</label>
    <input type="text" name="preco_produto" id="preco" placeholder="Preço do produto"><br/>
    <label for="nome">Nome</label>
    <input type="text" name="descricao_produto" id="descricao" placeholder="Descrição do produto"><br/>
    <button type="submit">Salvar</button>
  </form>

</body>
</html>