<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alvaro</title>
</head>
<body>
    <h1>Testando aplicação Go</h1>

    <form action="/process" method="POST">
        <label for="person-name">Nome</label>
        <input type="text" name="name" id="person-name" placeholder="ex: João"><br/>

        <label for="person-age">Idade</label>
        <input type="text" name="age" id="person-age" placeholder="ex: 38"><br/>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>